
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    /* justify-content: space-around; */
    background-color: black;
    border-bottom:1px solid #9b9b9b;
}

.list{
    display: flex;
    gap: 50px;

}

.list li{
    list-style-type: none;
    color: white;
    font-size: 20px;

}

.courses{
    text-decoration: none;
    color: white;
}

.input{
    position: relative;
}

.search{
    position: absolute;
    left: 10px;
    top: 8px;
}

.input input{
    background-color: black;
    border: 1px solid #e40084;
    padding: 10px 25px;
    border-radius: 8px;
    color: #8d8b85;
    font-weight: 600;
    padding-left: 35px;
}

.login{
    text-decoration:none ;
    color: #e40084;
    font-size: 20px;
}

.btn{
    background-color: #e40084;
    color: white;
    padding:10px 25px ;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.menu{
    display: none;
}

.hero-section{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 100px;
}

.hero-text{
    color: #ffba0e;
    font-size: 45px;
}

/* .hero-text::after{
    content: "Discover the limitless possibilities of the digital world of tech at Devcent";
    color: #ffba0e;

}

.hero-text::before{
    content: " ";
    position: absolute;
} */

.hero-left p{
    color: #9b9b9b;
    font-size: 30px;
}

.hero-right img{
    width: 550px;
}

.hero-left{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.courses{
    background-color: black;
   
}

.course-text{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 0px 200px;
}

.tech{
    color: #ffba0e;
}

.life{
    color: #e40084;
}

.box{
    background-color: white;
    padding:35px 20px ;
    border-radius: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    gap: 24px;
    justify-content: center;
}


.box p{
    font-size: 18px;
    color: black;
}

.box h1 {
    color: black;
}

.view{
    display: flex;
    justify-content: center;
    padding: 40px 0 100px 0;
}

.view button{
    padding: 10px 50px;
    background-color: #e40084;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.start-now{
    background-color: black;
}


.gain{
    background-color: black;
}



.learning-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    color: white;
    gap: 25px;

}

.the-best{
    color: #ffba0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;

}

.gain-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;

}


.gain-text h1{
    color: #ffba0e;
    font-size: 35px;

}

.gain-box{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    color: white;
    gap: 30px;

}

.gain-text p{
    color: #9b9b9b;
    font-size: 20px;
    text-align: center;
    padding: 30px 350px;

    
}

.learning{
display: flex;
align-items: center;
gap: 20px;
width: 400px;
height: 150px;
}


.gain-container{
display: flex;
align-items: start;
gap: 20px;
width: 500px;
height: 150px;
}

.gain-check{
   background-color: #e40084;
   padding:2px 3px;
   border-radius: 12px;
}
.learning-text p, .capstone-text p, .learn-text p{
    color: #9b9b9b;
    font-size: 16px;
    padding: 8px 0;
}

.support-text p, .industry-text p, .skills-text p{
    color: #9b9b9b;
    font-size: 16px;
    padding: 10px 7px;
    font-weight: bold;
}

.global-text p{
    color: #9b9b9b;
    font-size: 16px;
    padding: 10px 35px;
    font-weight: bold;
    text-align:start;
}

.le{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    gap: 35px;
    padding-top: 100px;

}
.level-box{
    width: 350px;

}

.level-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
    justify-content: center;
    }  


.footer{
    background-image: url('images/footerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 5px solid palevioletred; */
    color: white;
}

.footer-box{
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    display: flex;
    padding-top: 70px;
}

.footer-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 50px;
    padding-right: 120px;

}

.footer-left{
    padding: 100px ;
    width: 580px; 

}

.footer-box1 ul li{
    list-style-type: none;
    padding: 8px 0;
}
.footer-box2 ul li{
    list-style-type: none;
    padding: 8px 0;

}

.footer-left p{
    color: white;
    padding: 5px;
    font-size: 15px;
}

.address{
    display: flex;
    align-items: center;
    width: 300px;
    padding: 0 10px;
}

.address img{
    margin-right: 25px;
}


.address p{
    font-size: 14px;
    padding:10px;
}

.footer-icons{
    padding: 40px 100px;
    
}

.footer-icons img{
    margin-right:15px ;
    /* border: 1px solid white; */
    height: 30px;
}

.footer-para{
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width:900px) {
    .logo{
        width: 90px;
    }

    .logo img{
        width: 100%;
    }

    .nav-bar{
        padding: 10px 40px;
    }

    .search,.input,.login{
        display: none;
    }

    /* .list{
        gap: 20px;
    } */

    .list li{
        font-size: 16px;
    }

    
    .btn{
        padding: 10px 15px;
        font-size: 16px;
    }

    .hero-section{
        flex-direction: column;
        padding: 50px;
    }


    .hero-right img{
        width: 350px;
    }
}

@media screen and (max-width:600px){
    .logo{
        width: 100px;
    }

    .logo img{
        width: 100%;
    }

    .list,.list li,.search,.input,.login,.input input,.btn{
        display: none;
    }

    .menu{
        display: block;
        color: white;
    }

}

