
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    /* justify-content: space-around; */
    background-color: black;
    border-bottom:1px solid #9b9b9b;
}

.list{
    display: flex;
    gap: 50px;

}

.list li{
    list-style-type: none;
    color: white;
    font-size: 20px;


}
.input{
    position: relative;
}

.search{
    position: absolute;
    left: 10px;
    top: 8px;
}

.input input{
    background-color: black;
    border: 1px solid #e40084;
    padding: 10px 25px;
    border-radius: 8px;
    color: #8d8b85;
    font-weight: 600;
    padding-left: 35px;
}

.login{
    text-decoration:none ;
    color: #e40084;
    font-size: 20px;
}

.btn{
    background-color: #e40084;
    color: white;
    padding:10px 25px ;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.menu{
    display: none;
}

.hero-section{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 100px;
}

.hero-text{
    color: #ffba0e;
    font-size: 45px;
}

.hero-left p{
    color: #9b9b9b;
    font-size: 30px;
}

.hero-right img{
    width: 550px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.courses{
    background-color: black;
   
}

.course-text{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 0px 200px;
}

.tech{
    color: #ffba0e;
}

.life{
    color: #e40084;
}

.box{
    background-color: white;
    padding:35px 20px ;
    border-radius: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    gap: 24px;
    justify-content: center;
}

.box p{
    font-size: 18px;
}

/* .view{
    background-color: #e40084;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 50px;
    margin: 20px auto;
    border: none;
    font-weight: bold;
} */

.view{
    display: flex;
    justify-content: center;
    padding: 40px 0 150px 0;
}

.view button{
    padding: 10px 50px;
    background-color: #e40084;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.start-now{
    background-color: black;
}


.start-now h1{
    text-align: center;
    color:#ffba0e;
    font-size: 35px;

}

.learning-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    color: white;
    gap: 25px;

}

.the-best{
    color: #ffba0e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning{
/* border: 1px solid white; */
display: flex;
/* justify-content: center; */
align-items: center;
gap: 20px;
width: 400px;
height: 150px;
}

.learning-text p, .capstone-text p, .learn-text p{
    color: #9b9b9b;
    font-size: 16px;
    padding: 8px 0;
}








@media screen and (max-width:600px){
    .logo{
        width: 100px;
    }

    .logo img{
        width: 100%;
    }

    .list,.list li,.search,.input,.login,.input input,.btn{
        display: none;
    }

    .menu{
        display: block;
        color: white;
    }

}

@media screen and (max-width:900px) {
    .logo{
        width: 90px;
    }

    .logo img{
        width: 100%;
    }

    .nav-bar{
        padding: 10px 40px;
    }

    .list{
        gap: 20px;
    }

    .list li{
        font-size: 16px;
    }

    .login{
        font-size:18px ;
    }

    .input input{
        /* padding: 10px 25px; */
        padding-left: 30px;
    }

    .btn{
        padding: 10px 15px;
        font-size: 16px;
    }
}